{% extends './base.html' %}

{% block title %} HOME {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
{% endblock %}

{% block content %}
<body >
  <div class="container">
    <main>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/creze.png')}}" alt="" width="230" height="130">
        <h2 style="color: #FFFFFF;">Ejecutivo : caguilar@creze.com </h2>
      </div>
  </div>

  <div class="container">
    <div style="color: #FFFFFF;"class="form-group">
      <label for="formGroupExampleInput">No. De Contrato: C5547CC6120</label>
              <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No. De Contrato"> -->
    </div>
      
    <div style="color: #FFFFFF;"class="form-group">
      <label for="formGroupExampleInput">Razón Social: Juan Chavez</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No. De Contrato"> -->
    </div>
              
    <div style="color: #FFFFFF;"class="form-group">
      <label for="formGroupExampleInput">Saldo: $1,000,151.00</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No. De Contrato"> -->
    </div>
          
    <div style="color: #FFFFFF;"class="form-group">
      <label for="formGroupExampleInput">Días vencido: 5</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No. De Contrato"> -->
    </div>
              
    <div style="color: #FFFFFF;"class="form-group">
      <label for="formGroupExampleInput">Telefónos asociados: 5533555</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No. De Contrato"> -->
    </div>
              
    <div style="color: #FFFFFF;"class="form-group">
      <label for="formGroupExampleInput">Telefono asociados 5533556</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No. De Contrato"> -->
    </div>
    <br>

        <div>
          <label for="medio-loc" style="color: #FFFFFF;">Medio de Localizacion</label>
          <select class="form-select" aria-label="Default select example">
          <option selected>Seleccionar</option>
          <option value="1">Llamada por telefóno</option>
          <option value="2">Envío de mensaje SMS</option>
          <option value="3">Por redes sociales</option>
          </select>
        </div>


        <div>
          <label for="medio-loc" style="color: #FFFFFF;">Resultado de Localizacion</label>
          <select class="form-select" aria-label="Default select example">
          <option selected>Seleccionar</option>
          <option value="1">Hay tono</option>
          <option value="2">Sin tono</option>
          <option value="3">Bloqueado</option>
          <option value="4">Entra Mensaje (SMS/Whats/Redes)</option>
          <option value="5">No Entra Mensaje (SMS/Whats/Redes)</option>
          </select>
        </div>


        <div>
          <label for="medio-loc" style="color: #FFFFFF;">Resultado de Conexion</label>
          <select class="form-select" aria-label="Default select example">
          <option selected>Seleccionar</option>
          <option value="1">Atiende Titular</option>
          <option value="2">Atiende Tercero</option>
          <option value="3">No contestan</option>
        </select>
        </div>


        <div>
          <label for="medio-loc" style="color: #FFFFFF;">Resultado Final</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Seleccionar</option>
            <option value="1">Se levanta Promesa de Pago</option>
            <option value="2">No define</option>
            <option value="3">Menciona que ya pagó</option>
            <option value="4">Recordatorio Promesa de Pago</option>
            <option value="5">Se deja Mensaje con Tercero</option>
            <option value="6">Cuelgan</option>
            <option value="7">No lo conocen</option>
            <option value="8">Número Equivocado</option>
            <option value="9">Recordatorio de Pago</option>
            <option value="10">Pendiente por definir pago</option>
        </select>
        </div>
                

        <div style="color: #FFFFFF;" class="form-label">
          <label for="formGroupExampleInput2">Promesa de Pago</label>
          <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Fecha De Inicio">
        </d
          <div class="mb-3" style="color: #FFFFFF;">
          <label for="exampleFormControlInput1" class="form-label">Comentarios</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </d
        <div class="mb-3" style="color: #FFFFFF;">
          <label for="exampleFormControlInput1" class="form-label">Razon de pago</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
        </div>
        </div>
    </main>
    
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1" style="color: #FFFFFF;">&copy; 2017–2023 Creze</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacidad</a></li>
          <li class="list-inline-item"><a href="#">Terminos</a></li>
          <li class="list-inline-item"><a href="#">Soporte</a></li>
        </ul>
      </footer>
    </div>
</body>
{% endblock %}