{% extends './base.html' %}

{% block title %} Login {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css')}}">
{% endblock %}

{% block content %}
<body class="text-center">
  <main class="form-signin w-100 m-auto" >
    <form action="/list" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
      <img class="mb-4" src="{{ url_for('static', filename='img/creze.png')}}" alt="" width="230" height="130">
      <h1 class="h3 mb-3 fw-normal" style="color:white;" >Inicia Sesión</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
        <label for="username">Email address</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label style="color:white;">
        <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <br>
      <br> 
      <p style="color:white;">&copy; Creze 2022–2023</p>
      <p style="color:white;">&copy; By: Ing Juarez</p>
    </form>
  </main>
</body>
{% endblock %}